html,body,#app{
    height: 100%;
    width:100%;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width: 1226px;
    margin: 0 auto;
}
ul{
    margin-top: 0;
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}