html,body,#app{
    height: 100%;
    width:100%;
    margin:0;
    padding:0;
}
.container{
    width: 1226px;
    margin: 0 auto;
}
ul{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}